.root
  background-color cyan
  height 60px
  width 90%

  > ul
    display flex
    justify-content space-around
    align-items center
    list-style-type none
    li a
      color white
      line-height 1.6
      font-size 24px
