.root {
  background-color: blue;
  height: 50px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.root ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.root li a {
  color: white;
  text-decoration: none;
  background-color: red;
  line-height: 50px;
}
